/*

Theme Name:Yasmin
Theme URL: http://www.web2feel.com/yasmin/
Description: Free WordPress theme released by web2feel.com
Author: Jinsona
Author URI: www.web2feel.com
Version: 1.0.0
Tags: Responsive, Portfolio, Minimalistic, Right-sidebar, fixed-width, jQuery slider, theme-options, threaded-comments, banner ads, adsense,fab themes.

*/

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

:focus {
/* remember to define focus styles! */
    outline: 0;
}

ol, ul {
    list-style: none;
}

table {
/* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: 0;
    display: block;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* BASIC */

body {
    font-family: Open Sans,Arial,Century gothic, sans-serif;
    color: #222;
    font-size: 14px;
    background: url('/wp-content/uploads/2012/09/background3.jpg') no-repeat;
    font-weight: 400;
}

img {
    border: 0;
    margin: 0;
}

a {
    color: #888888;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #C44C62;
    text-decoration: none;
}

blockquote {
    color: #59666f;
    font-style: italic;
    font-family: Georgia;
    padding: 10px;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #fff;
    margin: 10px 0;
}

table td,table th {
    text-align: left;
    border: 1px solid #fff;
    padding: .4em .8em;
}

table th {
    background: #ddd;
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid #fff;
}

table td {
    border: 1px solid #fff;
    background: #eee;
    color: #555;
}

table tr.even td {
    background: #eee;
    border: none;
}

table tr:hover td {
    background: #FFF9DF;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: #eee;
    padding: 5px;
}

img.alignnone {
    display: inline;
    background: #eee;
    margin: 0 0 10px;
    padding: 5px;
}

img.alignright {
    display: inline;
    background: #eee;
    margin: 5px 0 10px 10px;
    padding: 5px;
}

img.alignleft {
    display: inline;
    background: #eee;
    margin: 5px 15px 10px 0;
    padding: 5px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.alignright {
    float: right;
    margin: 0 0 10px 10px;
}

.alignleft {
    float: left;
    margin: 10px 15px 10px 0;
}

.wp-caption {
    text-align: center;
    background: #eee;
    margin: 10px;
    padding: 4px 0 5px;
}

.wp-caption img {
    border: 0;
    margin: 0 0 5px;
    padding: 0;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    color: #444;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    padding: 0;
    margin: 0px 0px 10px 0px;
}



/* #Forms
================================================== */

form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
}

select {
    padding: 0;
}

textarea {
    min-height: 60px;
}

label,
	legend {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

select {
    width: 220px;
}

input[type="checkbox"] {
    display: inline;
}

label span,
	legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}


/* OUTER  */

#wrapper {
    margin: 0px auto;
}

#casing {
    padding: 0px 0px 25px 0px;
    background: #fff;
    opacity:.95;
}

/*Header*/

#head {
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
}

#headright {
    background: #333333;
    float: right;
}

#topbar {
    height: 60px;
}

ul.social {
    list-style: none;
    margin: 20px 10px 0px 10px;
    float: left;
    display:none;
}

ul.social li {
    float: left;
    margin-left: 10px;
}

#blogname {
    float: right;
    margin: 8px 0px 0px 0px;
}

#blogname h1 {
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0px 0px;
    font-family: Bitter, Helvetica, Arial, sans-serif;
}

#blogname h1 a, #blogname h1 a:visited {
    color: #4E4554;
}

#blogname h2 {
    font-family: Bitter, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
}



/* TOP-MENU */

#mobileMenu_web2feel {
    margin: 10px 20px;
    padding: 3px 0px;
    border: 1px solid #333333;
}

#botmenu {
    margin: 0px auto;
    float: left;
}

#subnav {
    clear: both;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 auto;
    overflow: hidden;
}

#subnav ul {
    float: left;
    padding: 0px 15px;
}

#subnav li {
    float: left;
    list-style-type: none;
    font-weight: 400;
}

#subnav li a {
    color: #e7e7e7;
    display: block;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-decoration: none;
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current-menu-item a {
    color: #fff;
}

#subnav li a .sf-sub-indicator {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
    background-color: #666666;
    border-top-width: 0;
    color: #e7e7e7;
    font-size: 13px;
    padding: 10px 10px;
    position: relative;
    text-transform: none;
    width: 140px;
    font-weight: 400;
}

#subnav li li a:hover,
#subnav li li a:active {
    color: #fff;
    background: #555555;
}

#subnav li ul {
    height: auto;
    padding: 0px 0px;
    left: -9999px;
    margin: 0 0 0 1px;
    position: absolute;
    width: 160px;
    z-index: 9999;
}

#subnav li ul a {
    width: 160px;
}

#subnav li ul ul {
    margin: -38px 0 0 160px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
    left: auto;
}
	
	
/* SEARCH FORM	 */


#search {
    width: 250px;
    padding: 0px;
    margin: 20px 20px 0px 0px;
    display: inline-block;
    float: right;
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
}

#search form {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search p {
    margin: 0;
    font-size: 85%;
}

#s {
    width: 180px;
    background: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px;
    height: 20px;
    border: none;
    color: #555;
    float: left;
    display: inline;
}

#searchsubmit {
    background: #333333;
    border: none;
    color: #fff;
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: right;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}	
	
	
	
/*Callout	*/

#callout {
    font-weight: 400;
    font-size: 26px;
    padding: 35px 5%;
    width: 90%;
    text-align: center;
    font-family: Bitter, Helvetica, Arial, sans-serif;
    color: #A392AF;
}


/*Rows	*/

#recent-projects, #recent-posts {
    padding: 35px 0px 0px 0px;
}

#recent-projects {
    background: #fafafa;
    border-top: 1px solid #CFC5D6;
    border-bottom: 5px solid #CFC5D6;
}

.leftbox {
    margin-bottom: 35px!important;
}

.leftbox h2 {
    padding-right: 80px;
    color: #5F5566;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.leftbox span {
    display: block;
    margin-top: 10px;
    color: #888888;
}

.rightbox {
    margin-bottom: 35px!important;
position:relative;
}

.panelbox {
    padding: 10px 0px 20px 0px;
    position: relative;
    color: #555;
    text-align: center;
}

.panelbox h2 {
    margin-bottom: 0px;
}

.rightbox h2 {
    font-size: 14px;
    font-weight: 700;
}

.rightbox h2 a,.rightbox h2 a:visited {
    color: #333;
}

img.index-wideimg {
    margin-bottom: 10px;
}

.paneldate {
    margin-bottom: 5px;
    display: block;
    color: #888888;
}

.panelpost p {
    line-height: 160%;
}

img.overlay{
	position:absolute;
	top:10px;
	left:10px;
	z-index:100;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	background:#fff;
	padding:5px;
	display:none;
}

/*Article*/

#left {
    margin-top: 25px;
}

.post {
    margin-bottom: 25px;
    padding: 0px 10px;
}

.portype {
    width: 62px;
    height: 45px;
    float: left;
    margin: 5px 10px 0px 0px;
}

.pro-image {
    background: url(/wp-content/themes/Yasmin/images/camera.png) no-repeat;
}

.pro-video {
    background: url(/wp-content/themes/Yasmin/images/video.png) no-repeat;
}

.title {
    padding-bottom: 20px;
}

.title h2, .title h2 a, .title h2 a:visited {
    font-family: Bitter, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
}

.entry,.bentry {
    line-height: 160%;
}

.entry p {
    margin-bottom: 10px;
}

.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
    margin: 0 0 20px 0;
}

.entry ul, .entry ol {
    margin: .4em 0 1em;
    line-height: 150%;
}

.entry ul li, .entry ol li {
    list-style-position: outside;
    margin-left: 1.6em;
}

.entry ol li {
    list-style: decimal;
}

.entry ul li {
    list-style: disc;
}

img.portimg,img.postimg {
    margin-bottom: 20px;
}

.projectbox {
    margin-bottom: 20px;
}

.foliocontainer {
    padding-top: 20px;
}


/*Sidebar*/

#right {
    margin-top: 25px;
}

h3.sidetitl {
    font-family: Bitter, Helvetica, Arial, sans-serif;
    background: #333333;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 10px 10px;
    font-weight: 700;
}

.sidebox {
    list-style: none;
    margin: 0px 10px 25px 10px;
}

.sidebox ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sidebox li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sidebox ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.sidebox ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 5px;
}

.sidebox ul li a:link,.sidebox ul li a:visited {
    color: #666;
    text-decoration: none;
}

.sidebox ul li a:hover {
    color: #000;
}

.sidebox.widget_categories ul li,.sidebox.widget_pages ul li,.sidebox.widget_archive ul li,.sidebox.widget_links ul li,.sidebox.meta_links ul li {
    border-bottom: 1px solid #f4f4f4;
    padding: 7px 5px;
}

.sidebox.widget_recent_entries ul li {
    border-bottom: 1px solid #f4f4f4;
    padding: 7px 5px;
}

ul#recentcomments li.recentcomments {
    border-bottom: 1px solid #f4f4f4;
    padding: 7px 5px;
}

.sidebox .textwidget p {
    padding: 0px 10px;
}

div#calendar_wrap {
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 0;
}

table#wp-calendar {
    width: 100%;
    border: none;
    margin: 0!important;
    padding: 0;
}

#wp-calendar caption {
    font-size: 16px;
    color: #375752;
    font-weight: 400;
    font-family: BebasNeueRegular,Georgia,Century gothic, Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px 5px 5px;
}

#wp-calendar th,#wp-calendar td {
    text-align: center;
    color: #fff;
    background: #555;
    padding: 7px 5px;
}

#wp-calendar tr {
    margin: 0!important;
}

#wp-calendar td {
    background-color: #eee;
    color: #444;
    margin: 0!important;
}

#wp-calendar td a {
    border: none;
    color: #D1512A;
}

.squarebanner {
    padding: 0px 10px;
}

.squarebanner ul {
    list-style-type: none;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
}

.squarebanner ul li {
    list-style-type: none;
    margin: 0px 10px 10px 0px;
    float: left;
    display: inline;
}

.squarebanner ul li.rbanner {
    margin-right: 0px;
}



/* COMMENTS */
#commentsbox {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px;
}

h3#comments {
    font-family: Bitter, Helvetica, Arial, sans-serif;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    color: #000;
}

ol.commentlist {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

ol.commentlist li {
    line-height: 160%;
    margin: 0px 0 20px 0px;
    padding: 10px 10px;
    border: 1px solid #eee;
}

ol.commentlist li .comment-author a:link,ol.commentlist li .comment-author a:visited {
    color: #333;
    font-weight: 700;
    text-decoration: none!important;
}

cite.fn {
    color: #eee;
    font-style: normal;
}

ol.commentlist li .comment-author .avatar {
    float: right;
    border: 1px solid #eee;
    background: #fff;
    padding: 3px;
    margin: 5px 0px 0px 0px;
}

ol.commentlist li .comment-meta .commentmetadata {
    color: #000;
}

ol.commentlist li .comment-meta a {
    color: #888888;
    text-decoration: none!important;
}

ol.commentlist li p {
    border-top: 1px solid #eee;
    margin: 10px 0px;
    padding: 10px 0px;
}

ol.commentlist li .reply {
    margin-top: 10px;
}

ol.commentlist li .reply a {
    background: #888888;
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
}

ol.commentlist li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 1em 0 0;
}

.comment-nav {
    height: 20px;
    padding: 5px;
}

.comment-nav a:link,.comment-nav a:visited {
    color: #f15755;
}

#respond {
    margin: 10px 0;
    padding: 0;
}

#respond h3 {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    padding: 5px 0 0;
}

#commentform {
    padding: 10px 0;
}

#commentform a {
    color: #888888;
}

#commentform p {
    color: #888888;
    margin: 5px 0;
}

#respond label {
    display: block;
    color: #82401c;
    padding: 5px 0;
}

#respond input {
    background: #eee;
    border: 1px solid #D3AC76;
    color: #7F5E34;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
}

#respond input#commentSubmit {
    width: 100px;
    background: #333333;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #442C30;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea#comment {
    background: #fafafa;
    border: 1px solid #e7e7e7;
    width: 70%;
    color: #333;
    margin: 20px 0 0;
    padding: 10px 10px;
}

ol.commentlist li .comment-author,ol.commentlist li .comment-author .fn {
    color: #333;
}

ol.commentlist li .comment-meta,#respond label small {
    font-size: 10px;
}

ol.commentlist li ul.children li.depth-2,ol.commentlist li ul.children li.depth-3,ol.commentlist li ul.children li.depth-4,ol.commentlist li ul.children li.depth-5 {
    margin: 0 0 0 50px;
}	
	

/* Pagenavi */

#navigation {
    padding: 0px 0px 20px 10px;
}

.wp-pagenavi {
    font-size: 12px;
    text-align: center !important;
}

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited {
    text-decoration: none;
    background: #666!important;
    border: 1px solid #333 !important;
    color: #fff !important;
    padding: 3px 7px !important;
    display: block;
    text-align: center;
    float: left;
    margin-right: 4px;
}

.wp-pagenavi a:hover {
    color: #ffffff;
}

.wp-pagenavi span.pages {
    display: none;
}

.wp-pagenavi span.current {
    text-decoration: none;
    background: #6AB3E7 !important;
    border: 1px solid #3C95D5!important;
    color: #fff !important;
    padding: 3px 7px !important;
    display: block;
    text-align: center;
    float: left;
    margin-right: 4px;
}

.wp-pagenavi span.extend {
    text-decoration: none;
    background: #6AB3E7 !important;
    border: 1px solid #3C95D5 !important;
    color: #fff !important;
    padding: 3px 7px !important;
    display: block;
    text-align: center;
    float: left;
    margin-right: 4px;
}	


/*Footer*/

#bottom {
    background: #333333;
    opacity: .95;
}

#bottom ul {
    margin: 0px;
    padding: 0px;
}

.botwid {
    float: left;
    margin-top: 35px!important;
    margin-bottom: 35px!important;
    list-style: none;
}

h3.bothead {
    font-family: Bitter, Helvetica, Arial, sans-serif;
    padding: 0px 0px 0px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.botwid ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.botwid li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.botwid ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat;
}

.botwid ul ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.botwid ul ul ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.botwid ul li {
    padding: 7px 0px 7px 0px;
}

.botwid ul li a:link, .botwid ul li a:visited {
    color: #eee;
}

.botwid ul li a:hover {
    color: #fff;
}

.botwid .textwidget {
    padding: 7px 0px;
    margin: 0;
    line-height: 160%;
    color: #888;
    text-align:center;
}

.botwid .textwidget a img{
    margin-left:auto;
    margin-right:auto;
}

#footer {
    background: #222222;
    padding: 25px 0px;
    text-align: center;
    opacity:.97;
}

.fcred,.fcred a, .fcred a:visited {
    color: #eee;
}

div.postmeta {display:none;}